@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;



.three-d {
  @apply relative bg-white;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.three-d::before,
.three-d::after {
  content: "";
  position: absolute;
  background-color: #fff;
  z-index: -1;
}
.three-d::before {
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.three-d::after {
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1);
}


