.packInfo{
    /* width:200px; */
    /* height: 150px; */
    /* background-color: red; */
    border: 3px solid red;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.packContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}